
<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    /*background: rgba(0, 0, 0, 0.8);*/
    background: lightgrey;
    /*color: #fff;*/
    color: black;
    border-radius: 2px;
    }


    /* Navigation highlight for current page */
    body#home a#homenav, body#about a#aboutnav, body#menupage a#menunav, body#contact a#contactnav {
        background-color: #843534;
    }

    .current:after {
        content: ' ';
        position: absolute;
        border: solid 10px transparent;
        border-top: solid 0px transparent;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
        border-color: #843534 transparent transparent transparent;
    }

    #slides {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -285px 0 0 -480px;
    background: black;
  }

</style>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Given the pickup event of a Citibike, this application will predict what is the most likely neighborhood the bike trip will end in.">
  <meta name="author" content="Changyao Chen">
  <link rel="icon" href="../../favicon.ico">

  <title>WiseWheels</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>

      <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('prediction_input') }}">WiseWheels</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('prediction_input') }}">Home</a></li>
                <li><a href="{{ url_for('story') }}">Data Story</a></li>
                <li><a href="{{ url_for('about') }}">About Me</a></li>
                <!-- dropdown navbar -->
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fun
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('bin_packing_input') }}">Bin packing</a></li>
                    <li><a href="{{ url_for('egg_drop_input') }}">Egg drop problem</a></li>
                    <li><a href="{{ url_for('bandit_input') }}">Multi-armed bandit</a></li>
                    <li><a href="{{ url_for('sir_input') }}">SIR model</a></li>
                  </ul>
                </li>
                <!-- end of dropdown navbar -->

              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <br><br>
        <div class="container">
          <div class="col-md-8">
          <div class="starter-template">
            <br><br>
            <h4>Bin packing problem:</h4>
            <p align="left">
              This is for solving the 1D <a href="https://en.wikipedia.org/wiki/Bin_packing_problem" target=blank>bin packing problem</a>. The problem statement is: there is a list of
              <span style="font-family: courier; font-weight: bold; font-style: italic">N</span>
              numbers, representing the widths of
              <span style="font-family: courier; font-weight: bold; font-style: italic">N</span>
              different objects, ecah with width of
              <span style="font-family: courier; font-weight: bold; font-style: italic">N<sub>i</sub></span>. The goal is to fit all these
              <span style="font-family: courier; font-weight: bold; font-style: italic">N</span> objects to
              <span style="font-family: courier; font-weight: bold; font-style: italic">M</span> bins with fixed width of
              <span style="font-family: courier; font-weight: bold; font-style: italic">W</span>.
              <span style="font-family: courier; font-weight: bold; font-style: italic">W</span> is larger than the largest value of
              <span style="font-family: courier; font-weight: bold; font-style: italic">N<sub>i</sub></span>.
              The goal is to find the minimal value of
              <span style="font-family: courier; font-weight: bold; font-style: italic">M</span>.<br>
              <br>
              I will use both First Fit Decrease algorithm and exhaustive search to get the result. Please note that for First Fit Decrease algorithm, the time complexity is
              <span style="font-family: courier; font-weight: bold; font-style: italic">O(N <span style='font-style:normal'>log</span>N)</span>.
              But for exhaustive search, the time complexity is
              <span style="font-family: courier; font-weight: bold; font-style: italic">O(N!)</span>.
              For
              <span style="font-family: courier; font-weight: bold; font-style: italic">N</span>
              = 10, it will take about 20 seconds to finish. Therefore, we will ignore exhaustive search with
              <span style="font-family: courier; font-weight: bold; font-style: italic">N</span>
              > 10.
              <br><br>
              For the sake of simplicit, we will limit ourselves to integer cases.
            </p>
          </div>

            <form  action="/bin_packing_output" method="POST">
            <div class="row">
            <div class="col-md-12 form-group row">
                <div = class="col-md-12">
                  <label for="nums">List of widths, seperated by comma:</label>
                  <br>
                  <input class="col-md-12" type="text" id="nums" name='nums' placeholder="e.g. 1,2,2,3,6,7,9" style="font-size:11pt;">
                  <br><br>
                  <label for="width">Width of the bin, <span style="font-family: courier; font-weight: bold; font-style: italic">W</span> :</label>
                  <br>
                  <input class="col-md-5" type="text" id="bin" name='bin' placeholder="e.g. 10" style="font-size:11pt;">
                  <br><br>
                  <input class="form-check-input" type="checkbox" id="exhaustive" name="exhaustive" value="exhaustive">
                  Exhaustive search </label>
                  <br><br>
                  <div><button type="submit" class="btn btn-success btn-lg">Submit</button></div>
                  </form>
                  </div>




                    <script src="static/js/bootstrap.min.js"></script>
                    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

                  </div>
                  </div> <!-- /.container-->


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
      <!--<script src="static/js/bootstrap.min.js"></script>-->
      <script src="static/js/bootstrap.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

      <script>
      $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
      </script>
    </body>
    </html>
